<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="1">
        <classes>
            <class name="Tasks8Bonus.Setup">
                <methods>
                    <include name="setup"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="TEST">
        <classes>
            <class name="Tasks81.TestCalc">
                <methods>
                    <include name="testCalcAdd"/>
                    <include name="testCalcSubtract"/>
                    <include name="testCalcMultiply"/>
                    <include name="testCalcDivide"/>
                </methods>
            </class>
            <class name="Tasks83.DDTestCalc">
                <methods>
                    <include name="testCalcAddDataProvider"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="XML">
        <parameter name="a" value="2.0"/>
        <parameter name="b" value="1.0"/>
        <parameter name="exp" value="3.0"/>
        <classes>
            <class name="Tasks84.DDTestXML">
                <methods>
                    <include name="testCalcAddParametersXML"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>